---
layout: page
title: Team
nav: team
permalink: /team
---

<style>
  #body_title {
    display: none;
  }

  .team-page h3 {
    margin: 48px 0 22px 0;
  }

  .team-page #tmp_staff1 > ul > li {
    min-height: 170px;
    margin: 0 0 34px 0;
    padding: 0 0 34px 0;
  }

  .team-page #tmp_staff1 .cont .txt {
    margin-top: 16px;
    padding: 20px 25px;
  }

  .team-page > #tmp_staff1:first-child + h3 {
    margin-top: 52px;
  }
</style>

<div class="team-page">
<div id="tmp_staff1" class="tmp_staff">
  <ul class="clearfix">
    {% for member in site.data.team.faculty %}
    <li>
      <span class="thumb">
        <img src="{{ '/assets/images/' | append: member.photo | relative_url }}">
      </span>
      <div class="cont">
        <div class="tit">{{ member.name }}</div>
        <div class="txt">
          <ul>
            <li>{{ member.role }}<br/>Contact: {{ member.email }}</li>
          </ul>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% if site.data.team.students %}
<h3>Students</h3>
<div id="tmp_staff1" class="tmp_staff">
  <ul class="clearfix">
    {% for member in site.data.team.students %}
    <li>
      <span class="thumb">
        {% if member.photo %}
        <img src="{{ '/assets/images/' | append: member.photo | relative_url }}">
        {% endif %}
      </span>
      <div class="cont">
        <div class="tit">{{ member.name }}</div>
        <div class="txt">
          <ul>
            <li>{{ member.role }}{% if member.email %}<br/>Contact: {{ member.email }}{% endif %}</li>
          </ul>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
</div>
