<!-- footer -->
<footer>
	<div class="f_logo"><img src="{{ '/assets/images/logo.png' | relative_url }}"></div>
	<div class="f_cont">
		<div class="d_width clearfix">
		<div class="address">333, Techno jungang-daero, Hyeonpung-myeon, Dalseong-gun, Daegu, 42988(ZIP), REPUBLIC OF KOREA</div>
		<p class="copyright">COPYRIGHT(C) &copy; NET Lab. ALL RIGHTS RESERVED.</p>
		<address>
			<p>{{ site.address }}</p>
			Tel.{{ site.phone }}
			Mail.{{ site.email }}
		</address>
		</div>
		<div class="f_link"></div>
	</div>
</footer>
<!-- //footer -->
