<!doctype html>
<html lang="ko">
<head>
<meta name="google-site-verification" content="9DPJgN8uBRmo0yyGh7rZ8wrfp67KAa4YcytM2v-grqA" />
<meta name="naver-site-verification" content="af1cebb7e61736511791ed25d5b6ab6722dad8e3" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1460" />
{% assign page_title_clean = page.title | default: "" | strip %}
{% if page_title_clean != "" %}
  {% assign seo_title = page_title_clean | append: " - " | append: site.lab_full_name %}
{% else %}
  {% assign seo_title = site.lab_full_name %}
{% endif %}
<meta name="description" content="{{ site.description }}">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.og_site_name | default: site.lab_full_name }}" />
<meta property="og:title" content="{{ seo_title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{{ '/assets/images/favicon.ico' | absolute_url }}" />

<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" />
<title>{{ seo_title }}</title>

<!-- CSS -->
<link rel="stylesheet" href="{{ '/assets/css/jquery-ui-1.12.0.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="{{ '/assets/css/font.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/animate.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/common.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/board.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/page_tmp.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/title_tmp.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/dgist_tmp.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/content.css' | relative_url }}" />

<!-- JS -->
<script src="{{ '/assets/js/jquery-3.1.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.bxslider.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-ui-1.12.1.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.form.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/common.js' | relative_url }}"></script>
<script src="{{ '/assets/js/tmp_js.js' | relative_url }}"></script>
<script src="{{ '/assets/js/wow.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/owl.carousel.js' | relative_url }}"></script>

<script>
new WOW().init();
$(document).ready(function(){
  $(".depth1").bind('mouseover focusin', function(){
    $('header').addClass('active');
  });
  $(".depth1").bind('mouseout focusout', function(){
    $('header').removeClass('active');
  });
});
</script>

<script>
$(window).on("scroll", function() {
  if ($(window).scrollTop() > 120) {
    $("#header").addClass("fix");
  } else {
    $("#header").removeClass("fix");
  }
});
</script>

</head>
<body class="bodybg">
<script src="{{ '/assets/js/menu.js' | relative_url }}"></script>
<div id="site-layout">

{% include header.html %}

{{ content }}

{% include footer.html %}

</div>
</body>
</html>
