---
layout: default
---
<script>
$(window).on("scroll", function() {
  if ($(window).scrollTop() > 160) {
    $(".h-fix").addClass("fix");
  } else {
    $(".h-fix").removeClass("fix");
  }
});
</script>

<!-- container -->
<div id="wrap" class="mwrap">
<div id="container">
	<!-- content -->
	<div class="main-section">
		<section id="mv-wrap">
			<div class="main-image" style="position:absolute;height:1150px;background-color:rgb(0, 0, 0);width:100%;z-index:1"><div class="pattern-bg pattern15"></div></div>

<!-- visual -->
		<div id="mvisual" style="height:1150px;">
	<div style="position:relative;z-index:3;height:1150px;">
			<div id="mvslide">
			<div></div>
			<ul id="slides"></ul>
			</div>
	</div>
	</div>
<!-- //visual -->
			<div class="d_width clearfix">
<div class="tit_width">
	<div id="main-visual" class="d_width" style="height:1150px;z-index:4;">
		<div class="main-tit-wrap" style="position:absolute;width:939px;height:236px;left: 0px; top: 522px;z-index:99">
			<div id="main_title_editarea">
				<div class="main-title">
	<p class="tit1 wow fadeInDown delay1">LABORATORY OF</p>
	<p class="tit2 wow fadeInDown delay2">Next-generation <br>Experience &amp; Technology </p>
	<p class="txt1 wow fadeInDown delay3">Human-Computer Interaction (HCI), Virtual Reality (VR), Augmented Reality (AR), In-air Interfaces, Haptics</p>
	<p class="txt2 wow fadeInDown delay3">Founded in 2025, the lab is located in the Department of Electrical Engineering and Computer Science in DGIST, Korea. <br>
	<br>
	</p>
</div>
			</div>
		</div>
	</div>
</div>
			</div>
		</section>

	</div>
	<!-- //content -->
</div>
</div>
<!-- //container -->
